{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% extends base_template %}

{% block title %}{{ 'title_select_subclass'|trans({}, 'SonataAdminBundle') }}{% endblock %}

{% block content %}
    <div class="x_panel">
        <h3 class="x_title">
            {{ block('title') }}
        </h3>
        <div class="x_content">
            <div class="row">
                {% for subclass in admin.subclasses|keys %}
                    {% set subclass_label = subclass ~ '.label' %}
                    {% set subclass_icon = subclass ~ '.icon' %}
                    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                        <a href="{{ admin.generateUrl(action, {'subclass': subclass }) }}"
                           class="btn btn-app btn-block"
                        >
                            <i class="fa {{ subclass_icon|trans({}, admin.translationdomain|default('SonataAdminBundle')) }}"></i>
                            {{ subclass_label|trans({}, admin.translationdomain|default('SonataAdminBundle')) }}
                        </a>
                    </div>
                {% else %}
                    <div class="alert alert-warning">
                        <i class="fa fa-warning"></i>
                        <strong>{{ 'no_subclass_available'|trans({}, 'SonataAdminBundle') }}</strong>
                    </div>
                {% endfor %}
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
{% endblock %}

